%tr
  %td
    %input.checkthis{:type => "checkbox"}/
  %td= student.name
  %td= student.school
  %td= student.country
  %td= student.sat_score.round(2)
  %td
    %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Edit"}
      = link_to edit_student_path(student.id) do
        %span.glyphicon.glyphicon-pencil
  %td
    %p{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Delete"}
      = link_to '#' do
        %span.glyphicon.glyphicon-trash
