
= form_for @mentor do |f|
  .row
    .col-md-3
      .text-center
        - if @mentor.image.blank?
          = image_tag "http://placehold.it/100x100", class: "avatar img-circle", alt: "avatar"
        - else
          = image_tag @mentor.image.thumb, class: "avatar img-circle", alt: "avatar"
          %h6 Upload a different photo...
          = f.file_field :image, class: 'form-control'
    .col-md-9
      %h3 Personal Info
      .row
        .col-md-9
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control', required: true
        .col-md-3
          .form-group
            = f.label :date_of_birth
            = f.text_field :date_of_birth, "data-provide" => "datepicker", class: 'form-control datepicker date', "data-date-format" => "dd/mm/yyyy", required: true
      .row
        .col-sm-3
          .form-group
            = f.label :sex
            = f.select :sex, %W(M F), {}, class: 'form-control'
        .col-sm-9
      .form-group
        = f.label :bio
        = f.text_area :bio, class: 'form-control', required: true

      = f.submit "Save", class: "btn btn-success"
